body {
	height: 100%;
	width: 99.2%;
	overflow: auto;
	font-varient: small-caps;
	/*color: #fff056;	
	background-color: #191919;*/
	font-family: 'Oswald', sans-serif;
}

.delete-icon {
	color: #d91111;
	padding-top: 6px;
}
.share-icon {
	color: green;
	padding-top: 6px;
	padding-right: 5px;
}
.save-icon {
	color: #0000B2;
	padding-top: 6px;
	padding-right: 5px;
}

#back-btn-idea {
	margin-top: 15px;
	margin-left: 10px;
}

#back-btn-feature {
	margin-top: 15px;
	margin-left: 10px;
}

#save-button-mobile {
	margin-top: 15px;
	margin-left: 10px;
}

/* Ideas */
.ideaCol {
	border-right: 1px solid black;
	height: 100vh;
	max-height: 100%;
}

.profileArea {
	border-bottom: 1px solid black;
	padding-bottom: 10px;
}

.createAndSearch {
	border-bottom: 1px solid black;
	padding: 10px;
}

.ideaScrollArea {
	overflow-y: auto;
	overflow-x: hidden;
	height: 600px;
	
}

.ideaTab {
	padding-left: 35px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 6px;
	padding-bottom: 6px;
	background-image: linear-gradient(#b6e5f5, #5cc6e9);
	border-color: #5cc6e9 #5cc6e9 hsl(195, 77%, 59%);
	color: #343D3D;

}
.ideaTabItem {
	font-size: 1.5em;
    margin-left: 0;
    margin-right: 0;

}

.selectedIdea {
	box-shadow: inset 2px 2px 2px 3px rgba(0,0,0,0.60);
}

.ideaTab:hover {
	color: white;
	text-shadow: 1px 1px grey;
	cursor: hand;
	cursor: pointer;
	box-shadow: inset 1px 1px 1px 2px rgba(0,0,0,0.45);
	
}

/* Features */
.featureCol {
	border-right: 1px solid black;
	height: 100vh;
	max-height: 100%;
}

#ideaTitle {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: hsl(0,0%,16%);
	background-image: linear-gradient(#5b5b5b, #282828);
	color: white;
	text-align: center;
	height:5%;
}

#idTitle {
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 10px;
	box-sizing: border-box;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

.featureRows{
	height: 85%;
}

.featureScrollArea{
	overflow-x: hidden;
	overflow-y: auto;
	height: 95%;
}

.featureTab{
	padding-left: 35px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 6px;
	padding-bottom: 6px;
	background-image: linear-gradient(#b6e5f5, #5cc6e9);
	border-color: #5cc6e9 #5cc6e9 hsl(195, 77%, 59%);
}

.featureTabItem{
	font-size: 1.5em;
    margin-left: 0;
    margin-right: 0;
}

.selectedFeature {
	box-shadow: inset 0px 2px 3px 3px rgba(0,0,0,0.50);
}

.featureTab:hover {
	color: white;
	text-shadow: 1px 1px grey;
	cursor: hand;
	cursor: pointer;
	box-shadow: inset 1px 1px 1px 2px rgba(0,0,0,0.45);
}

.featureFooter{
	padding-top: 15px;
	height: 10%;
	border-top: 1px solid black;
}

/* Details */
.detailCol {
	height: 100vh;
	max-height: 100%;
}

#featureTitle{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: hsl(0,0%,16%);
	background-image: linear-gradient(#5b5b5b, #282828);
	background-repeat: repeat-x;
	color: white;
	text-align: center;
}

#featTitle {
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 10px;
	box-sizing: border-box;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

.featureDetail{
	padding-top: 20px;
}

#detailArea{
	width:85%;
	resize: none;
}

.links{
	overflow-y: auto;
	overflow-x: hidden;
	height: 190px;
}
.tools a{
	text-decoration: none;
	border: 1px black solid;
	font-size: 18px;
	color: black;
	padding: 0px 5px;
}

.sketchCanvas{
	border: 1px solid black;
}

.btn-custom {
	background-color: hsl(197, 100%, 26%) !important;
	background-repeat: repeat-x;
	background-image: linear-gradient(#65d3ff, #005f84);
	border-color: #005f84 #005f84 hsl(197, 100%, 15%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.72);
	-webkit-font-smoothing: antialiased;
}

.btn-customDelete {
	background-color: hsl(0, 85%, 26%) !important;
	background-repeat: repeat-x;
	background-image: linear-gradient(#d91111, #7a0909);
	border-color: #7a0909 #7a0909 hsl(0, 85%, 21%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
	-webkit-font-smoothing: antialiased;
}