<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CleverBucket</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	<link rel="stylesheet" type="text/css" href="static/stylesheets/cleverbucket.css">
</head>
<body>
	<div class="row">
		<div class="col-md-3 ideaCol">
			<div class="row">
				<div class="col-md-12 profileArea">
					<div class="row">
						<div class="col-md-offset-3 col-md-6">
							<a href="#" class="thumbnail">
						    	<img width="200px" src="http://fc02.deviantart.net/fs70/f/2012/239/d/f/profile_picture_by_adult_aangplz-d5cm1sp.jpg" alt="Profile Picture">
						    </a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 text-center"><strong>Username</strong></div>
						<div class="col-md-6 text-center">
							<div class="btn-group">
								<button type="button" class="btn btn-default active">Local</button>
								<button type="button" class="btn btn-default">Shared</button>
							</div>
						</div>
						<div class="col-md-3 text-center"><a href="#">Settings</a></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 createAndSearch">
					<div class="col-md-6 text-center">
						<a id="new-idea" data-toggle="modal" data-target="#new-idea-modal" href="#" class="btn btn-primary">New Idea</a>
					</div>
					<div class="col-md-6 text-center">
						<div class="input-group">
			            	<input type="text" class="form-control" placeholder="Search..." name="srch-term" id="srch-term">
				            <div class="input-group-btn">
				                <a href="#" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></a>
				            </div>
		        		</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 ideaScrollArea">
					<div class="row">
						<div id="1" class="col-md-12 ideaTab">
							<h4>Idea 1</h4>
						</div>
					</div>
					<div class="row">
						<div id="2" class="col-md-12 ideaTab">
							<h4>Idea 2</h4>
						</div>
					</div>
					<div class="row">
						<div id="3" class="col-md-12 ideaTab">
							<h4>Idea 3</h4>
						</div>
					</div>
				</div>
			</div>			
		</div>
		<!-- Screen Column 2  -->
		<div class="hidden-xs hidden-sm col-md-3 featureCol">
			<div class="row" >
				<div id="ideaTitle" class="col-md-12" >
					<h3 id="idTitle">Idea</h3>
				</div>
			</div>
			<div class="row featureRows">
				<div class="col-md-12 featureScrollArea">
					<div class="row">
						<div id="asdf" class="col-md-12 featureTab 1">
							<h4>Feature 1</h4>
						</div>
					</div>
					<div class="row">
						<div id="jk" class="col-md-12 featureTab 1">
							<h4>Feature 2</h4>
						</div>
					</div>
					<div class="row">
						<div id="123" class="col-md-12 featureTab 2 hidden">
							<h4>Feature 3</h4>
						</div>
					</div>
				</div>
			</div>
			<!-- Footer with info about Idea being Viewed-->
			<div class="row">
				<div class="col-md-12 featureFooter">
					<div class="col-md-6">
						<p>Idea Created On: 11-11-11</p>
						<p>Days Since Last Edit: 22</p>
					</div>
					<div class="col-md-6">
						<a  id="new-feature" data-toggle="modal" data-target="#new-feature-modal" href="#" class="btn btn-primary" type="submit">New Feature</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Screen column 3 -->
		<div class="hidden-xs hidden-sm col-md-6 detailCol">
			<div class="row" >
				<div id="featureTitle" class="col-md-12" >
					<h3 id="featTitle">Feature</h3>
				</div>
			</div>
			<div class="row featureDetail">
				<div class="col-md-6" style="text-align:center">
					<textarea rows="12" id="detailArea" placeholder="Feature Details"></textarea>
				</div>
				<div class="col-md-6">
					<!--Add new link modal button-->
					<a id="new-link" data-toggle="modal" data-target="#new-link-modal" href="#" class="btn btn-success" type="submit">New Link</a>
					<br><br>
					<div class="links">
						<ul id="links">	
						</ul>
					</div><!--UL links div -->
				</div>
			</div>
			<hr>
			<!-- Sketching Area for feature  -->
			<div class="row">
				<div class="col-md-12">
					<h4> Sketch Area </h4>
					<canvas id="sketchCanvas" class="sketchCanvas" />
				</div>
			</div>
		</div>
	</div>
	
	
	<!-- Modals -->
		<!-- Insert Idea Modal -->		
	<div class="modal fade" id="new-idea-modal" tabindex="-1" role="dialog" aria-labelledby="New Idea" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">New Idea</h4>
				</div>
				<form action="/insertIdea" method="POST" class="form-horizontal" role="form">
					<input name="entity_key" type="text" class="hidden">
					<div class="modal-body">
						<div class="form-group">
							<label for="name-input" class="col-sm-2 control-label">Idea Name</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="idea-name-input" name="idea-name" placeholder="Idea Name">
							</div>
						</div>
					</div> <!--  Modal Body-->
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">New Idea</button>
					</div>
				</form>
			</div>
		</div>
	</div>
		
		<!-- Insert Feature Modal -->
	<div class="modal fade" id="new-feature-modal" tabindex="-1" role="dialog" aria-labelledby="New Feature" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">New Feature</h4>
				</div>
				<form action="/insertFeature" method="POST" class="form-horizontal" role="form">
					<input name="entity_key" type="text" class="hidden">
					<div class="modal-body">
						<div class="form-group">
							<label for="name-input" class="col-sm-2 control-label">Feature Name</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="feature-name-input" name="feature-name" placeholder="Feature Name">
							</div>
						</div>
					</div> <!--  Modal Body-->
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Create Feature</button>
					</div>
				</form>
			</div>
		</div>
	</div>	
	
		<!-- Insert Link Modal -->
	<div class="modal fade" id="new-link-modal" tabindex="-1" role="dialog" aria-labelledby="New Feature" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">New Link</h4>
				</div>
				<form action="/insertLink" method="POST" class="form-horizontal" role="form">
					<input name="entity_key" type="text" class="hidden">
					<div class="modal-body">
						<div class="form-group">
							<label for="title-input" class="col-sm-2 control-label">Title</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="link-title-input" name="link-title" placeholder="Link Title">
							</div>
						</div>
						<div class="form-group">
							<label for="url-input" class="col-sm-2 control-label">URL</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="link-url-input" name="link-url" placeholder="URL">
							</div>
						</div>
					</div> <!--  Modal Body-->
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">New Link</button>
					</div>
				</form>
			</div>
		</div>
	</div>	

	<!-- Scripts -->
	<script type="text/javascript">
		var detailText = new Object();
		detailText['1+asdf'] = 'This is idea1 feature 1 text';
		detailText['2+123'] = 'This is idea2 feature 3 text';

		var detailLinks = new Object();
		detailLinks['1+asdf'] = [['text', '#'],['google', 'http://www.google.com']];

		var detailCanvas = new Object();

	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="/static/js/cleverbucket.js"></script>
</body>
</html>