<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CleverBucket</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	<link rel="stylesheet" type="text/css" href="static/stylesheets/cleverbucket.css">
</head>
<body>
	<div class="row">
		<div class="col-md-3 ideaCol">
			<div class="row">
				<div class="col-md-12 profileArea">
					<div class="row">
						<div class="col-md-offset-3 col-md-6">
							<a href="#" class="thumbnail">
						    	<img width="200px" src="http://fc02.deviantart.net/fs70/f/2012/239/d/f/profile_picture_by_adult_aangplz-d5cm1sp.jpg" alt="Profile Picture">
						    </a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 text-center"><strong>Username</strong></div>
						<div class="col-md-6 text-center">
							<div class="btn-group">
								<button type="button" class="btn btn-default active">Local</button>
								<button type="button" class="btn btn-default">Shared</button>
							</div>
						</div>
						<div class="col-md-3 text-center"><a href="#">Settings</a></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 createAndSearch">
					<div class="col-md-6 text-center">
						<a class="btn btn-primary">New Idea</a>
					</div>
					<div class="col-md-6 text-center">
						<div class="input-group">
			            	<input type="text" class="form-control" placeholder="Search..." name="srch-term" id="srch-term">
				            <div class="input-group-btn">
				                <a href="#" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></a>
				            </div>
		        		</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 ideaScrollArea">
					<div class="row">
						<div class="col-md-12 ideaTab">
							<h4>Idea</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 ideaTab">
							<h4>Idea</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 ideaTab">
							<h4>Idea</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 ideaTab">
							<h4>Idea</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 ideaTab">
							<h4>Idea</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 ideaTab">
							<h4>Idea</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 ideaTab">
							<h4>Idea</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 ideaTab">
							<h4>Idea</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 ideaTab">
							<h4>Idea</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 ideaTab">
							<h4>Idea</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 ideaTab">
							<h4>Idea</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 ideaTab">
							<h4>Idea</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 ideaTab">
							<h4>Idea</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 ideaTab">
							<h4>Idea</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 ideaTab">
							<h4>Idea</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 ideaTab">
							<h4>Idea</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 ideaTab">
							<h4>Idea</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 ideaTab">
							<h4>Idea</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 ideaTab">
							<h4>Idea</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 ideaTab">
							<h4>Idea</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 ideaTab">
							<h4>Idea</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 ideaTab">
							<h4>Idea</h4>
						</div>
					</div>
				</div>
			</div>			
		</div>
		<!-- Screen Column 2  -->
		<div class="hidden-xs hidden-sm col-md-3 featureCol">
			<div class="row" >
				<div class="ideaTitle col-md-12" >
					<h3>Idea 1</h3>
				</div>
			</div>
			<div class="row featureRows">
				<div class="col-md-12 featureScrollArea">
					<div class="row">
						<div class="col-md-12 featureTab">
							<h4>Feature 1</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 featureTab">
							<h4>Feature 2</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 featureTab">
							<h4>Feature 3</h4>
						</div>
					</div>
				</div>
			</div>
			<!-- Footer with info about Idea being Viewed-->
			<div class="row">
				<div class="col-md-12 featureFooter">
					<div class="col-md-6">
						<p>Idea Created On: 11-11-11</p>
						<p>Days Since Last Edit: 22</p>
					</div>
					<div class="col-md-6">
						<a href="#" class="btn btn-primary" type="submit">New Feature</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Screen column 3 -->
		<div class="hidden-xs hidden-sm col-md-6 detailCol">
			<div class="row" >
				<div class="featureTitle col-md-12" >
					<h3>Feature 1</h3>
				</div>
			</div>
			<div class="row featureDetail">
				<div class="col-md-6" style="text-align:center">
					<textarea rows="12" id="detailArea" placeholder="Feature Details"></textarea>
				</div>
				<div class="col-md-6">
					<!--Add new link modal button-->
					<a href="#" class="btn btn-success" type="submit">New Link</a>
					<br><br>
					<div class="links">
						<ul>
							<li><a href="#" >Google</a></li>
							<li><a href="#" >Google2</a></li>
							<li><a href="#" >Google3</a></li>	
							<li><a href="#" >Google4</a></li>	
							<li><a href="#" >Google5</a></li>	
							<li><a href="#" >Google6</a></li>	
							<li><a href="#" >Google7</a></li>	
							<li><a href="#" >Google8</a></li>	
							<li><a href="#" >Google3</a></li>	
							<li><a href="#" >Google3</a></li>	
							<li><a href="#" >Google3</a></li>	
							<li><a href="#" >Google3</a></li>	
							<li><a href="#" >Google3</a></li>							
						</ul>
					</div><!--UL links div -->
				</div>
			</div>
			<hr>
			<!-- Sketching Area for feature  -->
			<div class="row">
				<div class="col-md-12">
					<h4> Sketch Area </h4>
					<canvas class="sketchCanvas" />
				</div>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="/static/js/index.js"></script>
</body>
</html>